body {
    background-color: white;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 8px;
}

/* header */
.navbar {
    display: flex;
    background-color: lightskyblue;
    border-bottom: 1px solid;
    padding: 15px 50px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    z-index: 1000;

    box-sizing: border-box;

    position: sticky;
    top: 0;
}

.navbar a:hover {
    color: #ecf0f1;
    transition: color 0.3;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

#sub-judul {
    text-align: center;
    margin-bottom: 0;
}

/* main/about */

.hero-section {
    display: flex;
}

.post-card {
    background-color: lightskyblue;
    display: flex;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 2px 4px;
    margin: 30px;
    transition: all 0.3 ease-in-out;
}

.post-card:hover {
    transform: scale(1.05);
}

.post-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.post-card h3 {
    padding: 8px;
}

.post-card p{
    padding: 8px;
    text-align: justify;
}

.read-more-link {
    display: grid;
}

/* kurikulum/pendaftaran/dokumentasi */
.feature-container {
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
    gap: 30px;
    display: flex;
}

.feature-card {
    background-color: lightskyblue;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    padding: 50px;
    box-shadow: 0 4px 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;

    transition: all 0.3 ease-in-out;
}

.feature-card:hover {
    transform: scale(1.05);
}

.feature-card h3{
    font-size: 16px;
    margin-top: 10px;
}

.feature-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.header-footer {
    margin-bottom: 30px;
}

footer{
    background-color: lightslategray;
    padding: 20px 16px;
}

footer ul {
    padding: 0;
    list-style: none;
}

.footer-items {
    margin-top: 20px;
}
.footer-items a {
    transition: color blue;
}

ul li{
    margin-bottom: 8px;
}

.social-media {
    display: flex;
    gap: 8px;
}

.copyright-section {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid black;
}

@media only screen and (min-width: 768px) {
    .upper-footer {
        display: flex;
        justify-content: space-between;
    }

    .feature-container {
        display: flex;
    }

}

/* footer{
    background-color: lightgrey;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.footer-col {
    width: 300px;
    margin-bottom: 30px;
}

.footer-col h3 {
    margin-bottom: 15px;
    border-bottom: 2px solid;
    display: inline-block;
    padding-bottom: 5px;
}

.footer-col a:hover {
    color: #ecf0f1;
    transition: color 0.3;
}

.footer-col img {
    width: 20px;
    height: 20px;
    border-radius: 50%;

} */